<%= div_for comment do %>
  <%= image_tag gravatar_url(comment, 50), alt: "Avatar", class: "avatar img-polaroid" %>
  <div class="main">
    <%= render "comments/comment_headline", :comment => comment %>
    <div class="comment_content">
      <%= format_comment(comment) %>
      <div class="actions">
        <%= link_to raw('<i class="mini-ico-share-alt"></i> Reply'), new_polymorphic_path([@commentable, Comment.new], :parent_id => comment), class: "btn btn-mini" %>
      </div>
    </div>
  </div>
  <div class="clear"></div>
<% end %>
