<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @comment.body %>
</p>

<p>
  <strong>Email:</strong>
  <%= @comment.email %>
</p>

<p>
  <strong>Site url:</strong>
  <%= @comment.site_url %>
</p>

<p>
  <strong>User ip:</strong>
  <%= @comment.user_ip %>
</p>

<p>
  <strong>User agent:</strong>
  <%= @comment.user_agent %>
</p>

<p>
  <strong>Referrer:</strong>
  <%= @comment.referrer %>
</p>

<p>
  <strong>Approved:</strong>
  <%= @comment.approved %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
