<% content_for :title,  "Reset Password" %>

<%= render :partial => "shared/page_title",
  :locals => {:title => "Reset Password?", :icon_class => "ico-rotation-lock"} %>


<div class="row">
  <div class="signin_container">
    <div class="password_reset">
      <%= link_to "Sign in", new_session_path(resource_name) %>
    </div><!-- .password_reset -->
    <%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, :class => "well" }) do |f| %>
      <%= f.error_notification %>

      <%= f.input :reset_password_token, :as => :hidden %>
      <%= f.full_error :reset_password_token %>

      <div class="inputs">
        <%= f.input :password, :label => "New password", :required => true %>
        <%= f.input :password_confirmation, :label => "Confirm your new password", :required => true %>
      </div>

      <div class="actions">
        <%= f.submit "Change My Password", :class => "btn btn-primary" %>
      </div>
    <% end %>
  </div><!-- .signin_container -->
</div><!-- .row -->
