<!-- start: Footer -->
<div id="footer">

  <!-- start: Container -->
  <div class="container">

    <!-- start: Row -->
    <div class="row">

      <!-- start: About -->
      <div class="span4">

        <h3>The Gist</h3>

        <p>
          I'm an entrepreneur, technology junkie, backpacking fiend, and all around lover of pubs and other watering holes.
        </p>
        <p>
          <i class="mini-ico-map-marker mini-white"></i> Portland, OR, USA
        </p>
        <p>
          <i class="ico-z-iphone"></i> If you know me, you probably have it.
        </p>
        <p>
          <i class="mini-ico-envelope mini-white"></i> Get in touch with me here.
        </p>

      </div>
      <!-- end: About -->

      <div class="span4">


      </div>

      <!-- start: Follow Us -->
      <div class="span4">

        <h3>Find Me On</h3>

        <ul class="social-bookmarks tooltips">
          <li class="github"><%= link_to "Jeremy Ward on Github", 'https://github.com/jrmyward', rel: 'tooltip', title: 'Github' %></li>
          <li class="googleplus"><%= link_to "Jeremy Ward on Google Plus", 'https://plus.google.com/106353175482876519782', rel: 'tooltip', title: 'Google Plus' %></li>
          <li class="linkedin"><%= link_to "Jeremy Ward on LinkedIn", 'http://www.linkedin.com/in/jrmyward', rel: 'tooltip', title: 'LinkedIn' %></li>
          <li class="rss"><%= link_to "RSS", '#', rel: 'tooltip', title: 'RSS' %></li>
          <li class="skype"><%= link_to "Jeremy Ward on Skype", '#', rel: 'tooltip', title: 'Skype' %></li>
          <li class="twitter"><%= link_to "Jeremy Ward on Twitter", 'https://twitter.com/jrmyward', rel: 'tooltip', title: 'Twitter' %></li>
        </ul>

      </div>
      <!-- end: Follow Us -->

    </div>
    <!-- end: Row -->

  </div>
  <!-- end: Container  -->

</div>
<!-- end: Footer -->