#footer
  .container
    .row
      .span4
        %h3 The Gist
        %p
          I'm an entrepreneur, technology junkie, backpacking fiend, and all around lover of pubs and other watering holes.
        %p
          %i.mini-ico-map-marker.mini-white
          Portland, OR, USA
        %p
          %i.ico-z-iphone
          If you know me, you probably have it.
        %p
          %i.mini-ico-envelope.mini-white
          Get in touch with me here.
      .span4
      / start: Mailing list?
      .span4
        %h3 Find Me On
        %ul.social-bookmarks.tooltips
          %li.github= link_to "Jeremy Ward on Github", 'https://github.com/jrmyward', rel: 'tooltip', title: 'Github'
          %li.googleplus= link_to "Jeremy Ward on Google Plus", 'https://plus.google.com/106353175482876519782', rel: 'tooltip', title: 'Google Plus'
          %li.linkedin= link_to "Jeremy Ward on LinkedIn", 'http://www.linkedin.com/in/jrmyward', rel: 'tooltip', title: 'LinkedIn'
          %li.rss= link_to "RSS", posts_url(format: "atom"), rel: 'tooltip', title: 'RSS'
          %li.skype= link_to "Jeremy Ward on Skype", '#', rel: 'tooltip', title: 'Skype'
          %li.twitter= link_to "Jeremy Ward on Twitter", 'https://twitter.com/jrmyward', rel: 'tooltip', title: 'Twitter'