<!--start: Header -->
<header>

  <!--start: Container -->
  <div class="container">

    <!--start: Navigation -->
    <div class="navbar navbar-invers">
      <div class="navbar-inner">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <%= link_to root_path, :class => "brand" do %>
          <i class=" ico-compass ico-color circle"></i>
          <% if browser.mobile? %>
            Wayward <span>Traveller</span>
          <% else %>
            The Wayward <span>Traveller</span>
          <% end %>
        <% end %>

        <div class="nav-collapse collapse">
          <ul class="nav">
            <% if user_signed_in? %>
              <li class="divider-vertical"></li>
              <li id="nav-user" class="dropdown">
                <%= link_to '#', "data-toggle" => "dropdown", :class => "dropdown-toggle"  do %>
                  <%= image_tag gravatar_url(current_user), :class => "avatar", :width => 26 %>
                  <span><%= current_user.full_name %></span>
                  <b class="caret"></b>
                <% end %>
                <ul class="dropdown-menu">
                  <li><%= link_to raw('<i></i> Edit Profile'), '#', :class => 'glyphicons pencil' %></li>
                  <li class="divider"></li>
                  <li><%= link_to raw('<i class="icon-off"></i> Sign Out'), destroy_user_session_path, :method => :delete %></li>
                </ul>
              </li>
            <% end %>
          </ul>
        </div><!-- .nav-collapse collapse -->
      </div><!-- .navbar-inner -->

    </div><!-- .navbar navbar-invers -->


  </div>
  <!--end: Container-->

</header>
<!--end: Header-->