<% if @user.errors.any? %>
  <div class="alert alert-block alert-error">
    <a class="close" data-dismiss="alert">×</a>
    <h4 class="alert-heading">Oh Snap!</h4>
    We found <%= pluralize(@user.errors.count, "problem") %> with the form:
  </div>
<% end %>
<%= f.input :first_name %>
<%= f.input :last_name %>
<%= f.input :email %>

<div class="legend-cont">
  <legend>Change Password <small>Leave blank to keep your current password</small></legend>
</div><!-- .legend-cont -->
<%= f.input :password, :autocomplete => "off" %>
<%= f.input :password_confirmation, :label =>"Confirm Password" %>

<div class="alert alert-warning">
  Enter your current password to confirm changes
</div><!-- .alert alert-warning -->

<%= f.input :current_password, :hint => "We need to your current password to confirm your changes", input_html: { autocomplete: 'off' } %>