<div class="post post-summary">
  <% if post.image? %>
    <div class="post-img picture">
      <%= link_to post_path(post) do %>
        <%= image_tag post.image %>
        <div class="image-overlay-link"></div>
      <% end %>
    </div>
  <% end %>
  <!-- TODO: post icon should be moved to a helper -->
  <span class="post-icon standard"><i class="ico-pen circle"></i></span>
  <div class="post-content">
    <div class="post-title">
      <h2><%= link_to post.title.titleize, post_path(post) %></h2>
    </div><!-- .post-title -->
    <div class="post-description">
      <%= markdown_render(post.abstract) %>
    </div><!-- .post-description -->
    <%= link_to "Read More", post_path(post), class: "post-entry" %>
    <div class="post-meta clearfix">
      <ul class="post-meta-items clearfix">
        <li><i class="mini-ico-calendar"></i>On <%= post.published_at.strftime("%d %B, %Y") %> </li>
        <li><i class="mini-ico-user"></i>By <%= link_to_author(post.author) %></li>
        <% if post.tag_list.count > 0 %>
          <li><i class="mini-ico-tags"></i> <%= raw post.tag_list.map { |t| link_to t, tag_path(t.parameterize) }.join(', ') %></li>
        <% end %>
        <% if post.editable_by?(current_user) %>
          <li><%= link_to raw('<i class="icon-pencil"></i> Edit'), edit_post_path(post), class: "btn btn-small" %></li>
        <% end %>
      </ul>
    </div><!-- .post-meta -->
  </div><!-- .post-content -->
</div><!-- .post -->