<% content_for :title,  @post.title %>
<% content_for :description, @post.description %>

<%= render :partial => "shared/page_title",
  :locals => {:title => @post.title, :icon_class => "ico-pencil"} %>

<div class="row">
  <div class="span9">

    <div class="post post-page">
      <div class="post-meta clearfix">
        <ul class="post-meta-items clearfix">
          <li><i class="mini-ico-calendar"></i>On <%= @post.published_at.strftime("%d %B, %Y") %> </li>
          <li><i class="mini-ico-user"></i>By <%= link_to @post.author.full_name, "#" %></li>
        </ul>
      </div>

      <!-- TODO: image -->

      <!-- TODO: post-icon should be a helper -->
      <span class="post-icon standard"><i class="ico-pen circle"></i></span>

      <div class="post-content">
        <div class="post-title">
          <h2><%= @post.title.titleize %></h2>
        </div><!-- .post-title -->

        <div class="post-description">
          <%= markdown_render(@post.body) %>
        </div><!-- .post-description -->

        <div class="post-meta clearfix">
          <ul class="post-meta-items clearfix">
            <li><i class="mini-ico-calendar"></i>On <%= @post.published_at.strftime("%d %B, %Y") %> </li>
            <li><i class="mini-ico-user"></i>By <%= link_to @post.author.full_name, "#" %></li>
          </ul>
        </div>
      </div><!-- .post-content -->

    </div><!-- .post post-page -->

    <hr>

    <div class="title-out"><h3>Leave a Comment</h3></div>

    <hr>
  </div><!-- .span9 -->

  <div class="span3">

  </div><!-- .span3 -->
</div><!-- .row -->
