<% content_for :title,  "Dashboard" %>

<%= render :partial => "shared/page_title", :locals => {:title => "Dashboard", :icon_class => "ico-dashboard"} %>

<div class="content clearfix">
  <div class="span11">
    <%= form_for destroy_batch_comments_path, method: :delete do %>
      <table class="table table-condensed">
        <thead>
          <tr>
            <th></th>
            <th>Commenter</th>
            <th>Comment</th>
            <th>User Info</th>
            <th>Approved?</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @comments.each do |comment| %>
            <tr class="<%= comment.approved? ? '' : 'error' %>">
              <td><%= check_box_tag "comment_ids[]", comment.id %></td>
              <td>
                <%= comment.name %><br>
                <%= comment.email %><br>
                <%= comment.site_url %>
              </td>
              <td><%= comment.body %></td>
              <td>
                <%= comment.user_ip %><br>
                <%= comment.user_agent %><br>
                <%= comment.referrer %>
              </td>
              <td><%= comment.approved %></td>
              <td>
                <%= button_for(comment) %>
                <%= link_to raw("<i class='mini-ico-edit'></i>"), edit_comment_path(comment), class: "btn btn-small", title: "Edit comment" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <p><%= submit_tag "Destroy Checked", class: 'btn' %></p>
    <% end %>
  </div><!-- .span11 -->
</div><!-- .content -->

<section>
  <%= page_navigation_links(@comments) %>
</section>

