<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- start: Meta -->
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <title><%= content_for?(:title) ? "#{yield(:title)} | The Wayward Traveller" : "Jeremy Ward | The Wayward Traveller" %></title>
    <meta name="author" content="<%= content_for?(:meta_author) ? "#{yield(:meta_author)}" : "Jeremy Ward" %>" />
    <meta name="description" content="<%= content_for?(:description) ? "#{yield(:description)}" : ""  %>" />
    <!-- end: Meta -->

    <!-- start: Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- end: Mobile Specific -->

    <!-- start: Facebook Open Graph -->
    <meta property="og:title" content="<%= content_for?(:og_title) ? "#{yield(:og_title)}" : "Jeremy Ward | The Wayward Traveller" %>" />
    <meta property="og:description" content="<%= content_for?(:description) ? "#{yield(:description)}" : "" %>" />
    <meta property="og:type" content="<%= content_for?(:og_type) ? "#{yield(:og_type)}" : "" %>" />
    <meta property="og:site_name" content="Jeremy Ward | The Wayward Traveller" />
    <meta property="og:url" content="<%= content_for?(:og_url) ? "#{yield(:og_url)}" : "http://jrmyward.com" %>" />
    <meta property="og:image" content="<%= content_for?(:og_image) ? "#{yield(:og_image)}" : "" %>" />
    <!-- end: Facebook Open Graph -->

    <!-- start: Twitter Card -->
    <meta name="twitter:card" content="summar" />
    <meta name="twitter:site" content="@jrmward" />
    <meta name="twitter:title" content="<%= content_for?(:og_title) ? "#{yield(:og_title)} | The Wayward Traveller" : "Jeremy Ward | The Wayward Traveller" %>" />
    <meta name="twitter:description" content="<%= content_for?(:description) ? "#{yield(:description)}" : ""  %>" />
    <meta name="twitter:image" content="<%= content_for?(:og_image) ? "#{yield(:og_image)}" : ""  %>" />
    <meta name="twitter:creator" content="<%= content_for?(:meta_twitter_creator) ? "#{yield(:meta_twitter_creator)}" : "" %>" />
    <!-- end: Twitter Card -->

    <link rel="canonical" href="<%= content_for?(:canonical) ? "#{yield(:canonical)}" : "#{request.fullpath}" %>">

    <!-- start: CSS -->
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Sans:400,700">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Serif">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Boogaloo">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Economica:700,400italic">
    <!-- end: CSS -->


    <!-- start: Java Script -->
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-42612993-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <!-- end: Java Script -->
  </head>
  <body>

    <%= render("shared/header") %>

    <%= yield(:content_top) if content_for?(:content_top) %>

    <!--start: Wrapper-->
    <div id="wrapper">
      <div class="container">

        <%= yield %>

      </div><!-- .container -->
    </div><!-- #wrapper -->

    <footer class="footer">
      <%= render("shared/footer_top") %>
      <%= render("shared/footer_bottom") %>
    </footer>

  </body>
</html>
