!!!
%html{lang: "en"}
  %head
    = render "shared/layout_meta"
    / start: CSS
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    %link{href: "http://fonts.googleapis.com/css?family=Droid+Sans:400,700", rel: "stylesheet", type: "text/css"}/
    %link{href: "http://fonts.googleapis.com/css?family=Droid+Serif", rel: "stylesheet", type: "text/css"}/
    %link{href: "http://fonts.googleapis.com/css?family=Boogaloo", rel: "stylesheet", type: "text/css"}/
    %link{href: "http://fonts.googleapis.com/css?family=Economica:700,400italic", rel: "stylesheet", type: "text/css"}/
    / end: CSS
    / start: Java Script
    = javascript_include_tag "application", "data-turbolinks-track" => true
    / AddThis Smart Layers
    %script{src: "//s7.addthis.com/js/300/addthis_widget.js#pubid=jrmyward", type: "text/javascript"}
    - if Rails.env.production?
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-42612993-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    :javascript
      var addthis_config = {
        data_ga_property: 'UA-42612993-1'
      };
    / end: Java Script
  %body
    = render("shared/header")
    = yield(:content_top) if content_for?(:content_top)
    / start: Wrapper
    #wrapper
      .container
        .row
          .span12
            - flash.each do |name, msg|
              %div{class: "alert alert-#{name == "notice" ? "success" : "error"}"}
                %a.close{"data-dismiss" => "alert", href: "#"} ×
                = msg
        / .row
        = yield
      / .container
    / #wrapper
    %footer.footer
      = render("shared/footer_top")
      = render("shared/footer_bottom")
    :javascript
      addthis.layers({
        'theme' : 'dark',
        'domain' : 'jrmyward.com',
        'linkFilter' : function(link, layer) {
            // console.log(link.title + ' - ' + link.url + " - " + layer);
            return link;
        },
        'share' : {
          'position' : 'left',
          'services' : 'facebook,google_plusone_share,linkedin,twitter,more',
          'numPreferredServices' : 5
        },
        'whatsnext' : {}
      });